@use "../variables" as *;

main{
    display: flex;
    flex-direction: column;
}

.heroSection{
    display: flex;
    flex-direction: column;
    background-color: $primary-300 ;
    background-image: 
    linear-gradient( to top, white 5rem, $primary-300 5rem),
    url(../../assets/images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    
    background-position: bottom left,  bottom right;
    padding-bottom: 5rem;
}

.heroText{
    text-align: center;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-inline:auto;
    gap: 1rem;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top left, bottom right;
    background-image: 
    url(../../assets/images/bg-pattern-intro-left-mobile.svg),;
    h1{
        font-family: $ff-heading;
        font-weight: 400;
        font-size: clamp(1rem, 12vw, 2.5rem);
        width: 14ch;
        line-height: 1;
        color: $neutral-900;
    }
    p{
        font-family: $ff-body;
        color: $neutral-900;
        opacity: 0.7;
        font-size: clamp(1rem, 4vw, 1.5rem);
        width: 30ch ;
    }
    
}

.CTAbtn{
    border: 1px solid $neutral-900;
    padding: 0.5em 2em;
    width: fit-content;
    a{
        color: $neutral-900;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $ff-body;
    }
}

.perkSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block:5rem ;
    
}

.sectionIntro{
    font-family: $ff-heading;
    font-weight: 400;
    font-size: clamp(1rem, 12vw,  2.5rem);
    margin-bottom: 5rem;
    position: relative;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    &::before{
        content: '';
        position: absolute;
        width: 50%;
        top: -2rem;
        background-color: rgba($neutral-500, 0.4);
        height: 1px;
        left: 25%;
    }
}

.perkWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
   
}

.perk{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    
    h3{
        font-family: $ff-heading;
        font-weight: 400;
        font-size: clamp(1rem, 8vw, 2rem);
    }
    p{
        width: 35ch;
        font-family: $ff-body;
        color:$neutral-500;
    }
}


.secondCTA{
    display: flex;
    margin-inline: 5vw;
    flex-direction: column;
    background-color: $primary-300;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-block: 5rem;
    padding: 4rem 1rem;
    background-image: url(../../assets/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    h2{
        font-family: $ff-heading;
        color: $neutral-900;
        font-weight: 400;
        font-size: clamp(1rem, 10vw, 2.5rem);
        line-height: 1;
    }
    
}
@media only screen and (min-width:768px){

    .heroSection{
        display: flex;
        flex-direction: column-reverse;
        img{
            max-width: 100vw;
            
            padding-top: 15vw;
            margin-inline: auto;
            padding-inline: 25vw;
            background-color: white;
        }
    }

    .heroText{
        padding-block:5rem;
        gap: 2rem;
        h1{
            font-size: clamp(3rem, 8vw, 4rem);
        }
        p{
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            max-width: 50ch;
            width: auto;
        }
        .CTAbtn{
            a{
                font-size: clamp(1.5rem, 3vw, 2.5rem);
            }
        }
    }
    .sectionIntro{
        font-size: clamp(2.5rem, 7vw, 5rem);
    }
    .perkWrapper{
        gap: 5rem;
    }
    .perk{
        h3{
            font-size: clamp(2rem, 4vw, 4rem);
        }
        p{
            font-size: clamp(1rem, 2.25vw, 2rem);
        }
    }
}


@media only screen and (min-width:1024px){
    .heroSection{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding-inline: 5vw;
        background-image: 
        url(../../assets/images/bg-pattern-intro-left-desktop.svg),
        url(../../assets/images/bg-pattern-intro-right-desktop.svg),
        linear-gradient(to top, white 10rem, $primary-300 10rem);
        background-position: bottom left, top right ;
        background-size: 10%, 25%, 100%;
        img{
            object-fit: contain;
            width: 40vw;
            padding-block: 4rem;
            transform: translateY(5rem);
            margin-left: 2rem;
            padding-inline: 0;
            padding-top: 0;
        }
    }
    .heroText{
        text-align: left;
        padding: 0;
        margin: 0;
        width: fit-content;
        background-image: none;
        gap: 2rem;
        padding-block: 3rem;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: -1rem;
            width: 30%;
            height: 2px;
            background-color: $neutral-500;
        }
        h1{
            font-size: clamp(2rem, 5vw, 5rem);
            margin-right: auto;
            
        }
        p{
            margin-right: auto;
            font-size: clamp(1rem, 1.5vw, 2rem);
           width: fit-content;
           max-width: 45ch;
        }
        .CTAbtn{
            margin-right: auto;
            z-index: 50;
            a{
                font-size: clamp(1rem, 1.5vw, 1.5rem)
            }
            &:hover,
            &:focus-within{
                background-color: $neutral-900;
                cursor: pointer;
                transition: 250ms ease-in;
                a{
                    color: $primary-300;
                }
            }
        }
    }
    .perkSection{
        margin-inline: 5vw;    
    }
    
    .sectionIntro{
       margin-right: auto;
       text-align: left;
       width: 100%;
       &::before{
        left: 0;
        width: 10%;
       }
    }
    .perkWrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:1rem;
        width: 100%;
    }
    .perk{
        text-align: left;
        align-items: start;
        margin-right: auto;
        
        h3{
            font-size: clamp(1rem, 2.5vw, 2.5rem);
        }
        p{
            font-size: clamp(.75rem, 1.25vw, 1.25rem );
        }

    }

    .secondCTA{
        display: flex;
        flex-direction: row;
        margin-inline: 5vw;
        justify-content: space-between;
        padding: 4rem;
        background-image: url(../../assets/images/bg-pattern-how-we-work-desktop.svg);
        background-size: contain;
        h2{
            max-width: 20ch;
            text-align: left;
            font-size: clamp(2rem, 4vw, 4rem);
        }
        .CTAbtn{
            &:hover,
            &:focus-within{
                background-color: $neutral-900;
                cursor: pointer;
                transition: 250ms ease-in;
                a{
                    color: $primary-300;
                }
            }
            a{
                font-size: clamp(1rem, 1.5vw, 1.5rem);
            }
        }
    }

}




@media only screen and (min-width:1440px){
    
    
    .heroSection{
        padding-inline: 10vw;
    }
    .secondCTA,
    .perkSection{
        margin-inline: 10vw;
    }
}